In [1]:
import pandas as pd

In [2]:
dd = pd.read_csv('district_data.csv')

In [3]:
dd

,Unnamed: 0,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch,DISTRICT
0,0,Lower East Side Preparatory High School,500,15.6,76.8%,1
1,1,East Side Community School,678,13.8,65.3%,1
2,2,Marta Valle High School,149,12.4,93.3%,1
3,3,Ps 15 Roberto Clemente,191,9.5,84.8%,1
4,4,Ps 19 Asher Levy,258,7.1,76.7%,1
...,...,...,...,...,...,...
1509,1509,Bushwick Leaders High School For Academic Exce...,280,10.3,97.1%,32
1510,1510,Bushwick Community High School,202,20.1,86.6%,32
1511,1511,Academy For Environmental Leadership,272,10.8,91.9%,32
1512,1512,Brooklyn School For Math And Research (The),272,12.9,90.1%,32
1513,1513,Evergreen Middle School For Urban Exploration,345,9.5,90.4%,32

In [4]:
dd.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
dd

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch,DISTRICT
0,Lower East Side Preparatory High School,500,15.6,76.8%,1
1,East Side Community School,678,13.8,65.3%,1
2,Marta Valle High School,149,12.4,93.3%,1
3,Ps 15 Roberto Clemente,191,9.5,84.8%,1
4,Ps 19 Asher Levy,258,7.1,76.7%,1
...,...,...,...,...,...
1509,Bushwick Leaders High School For Academic Exce...,280,10.3,97.1%,32
1510,Bushwick Community High School,202,20.1,86.6%,32
1511,Academy For Environmental Leadership,272,10.8,91.9%,32
1512,Brooklyn School For Math And Research (The),272,12.9,90.1%,32
1513,Evergreen Middle School For Urban Exploration,345,9.5,90.4%,32

In [6]:
dd['School Name'] = dd['School Name'].str.lower()

In [7]:
dd

,School Name,Enrollment,Student-Teacher Ratio,Free-Reduced Lunch,DISTRICT
0,lower east side preparatory high school,500,15.6,76.8%,1
1,east side community school,678,13.8,65.3%,1
2,marta valle high school,149,12.4,93.3%,1
3,ps 15 roberto clemente,191,9.5,84.8%,1
4,ps 19 asher levy,258,7.1,76.7%,1
...,...,...,...,...,...
1509,bushwick leaders high school for academic exce...,280,10.3,97.1%,32
1510,bushwick community high school,202,20.1,86.6%,32
1511,academy for environmental leadership,272,10.8,91.9%,32
1512,brooklyn school for math and research (the),272,12.9,90.1%,32
1513,evergreen middle school for urban exploration,345,9.5,90.4%,32

In [8]:
year_data = pd.read_csv('2006-2007_School_Progress_Report.csv')

In [9]:
year_data['SCHOOL'] = year_data['SCHOOL'].str.lower()

In [10]:
year_data.drop(['DBN', 'SCHOOL SUPPORT ORGANIZATION/NETWORK', 'PROGRESS REPORT TYPE'], axis=1, inplace=True)

In [11]:
year_data

,DISTRICT,SCHOOL,SCHOOL LEVEL*,PEER INDEX*,GRADE,OVERALL SCORE,ENVIRONMENT CATEGORY SCORE,PERFORMANCE CATEGORY SCORE,PROGRESS CATEGORY SCORE,ADDITIONAL CREDIT,QUALITY REVIEW SCORE
0,1,ps 015 roberto clemente,Elementary School,75.60,B,52.31,0.278,0.231,0.694,3,Undeveloped
1,1,ps 019 asher levy,Elementary School,59.25,B,51.24,0.51,0.466,0.511,1.5,Proficient
2,1,ps 020 anna silver,Elementary School,69.78,B,52.59,0.568,0.682,0.402,1.5,Well-Developed
3,1,ps 034 franklin d roosevelt,K-8 School,71.90,C,47.02,0.409,0.366,0.53,0.75,Proficient
4,1,ps 063 william mckinley,Elementary School,62.17,C,44.66,0.199,0.511,0.479,0,Proficient
...,...,...,...,...,...,...,...,...,...,...,...
1257,84,future leaders institute charter school,K-8 School,64.99,B,52.95,0.721,0.507,0.462,1.5,NaN
1258,84,peninsula preparatory academy charter school,Elementary School,64.05,F,29.37,0.324,0.421,0.216,0,NaN
1259,84,the renaissance charter school,K-8 School,41.10,C,38.65,0.847,0.623,0.132,0,NaN
1260,84,the bronx lighthouse charter school,Elementary School,66.40,C,42.51,0.497,0.132,0.565,0,NaN
1261,84,kipp academy charter school,Middle School,3.45,A,82.32,1.133,0.955,0.639,1.5,NaN